/node_modules/

# clang-tidy stuff
/worker/compile_commands.json

# gyp generated stuff
/worker/out/
/worker/**/*.xcodeproj/

# vim temporal files
*.swp
*.swo

# Others
/npm-debug.log
/NO_GIT/

Vagrantfile
.vagrant/
node-v8.11.3-linux-x64.tar
node-v8.11.3-linux-x64/
node_modules/
.Ds_Store